[Unit]
Description=Adaptive free memory optimizer daemon
Documentation=man:adaptivemmd(8)
After=systemd-sysctl.service local-fs.target syslog.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/adaptivemmd
ExecStart=/usr/sbin/adaptivemmd
KillMode=control-group
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
