*~
*.css
*.la
*.lo
*.o
*.pc
*.swp
*.orig
*.gcno
*.gcda
*.html
*.info
*.log
*.trs
*-coverage/
.deps
.dirstamp
.libs
configure
Makefile
Makefile.in
cscope.*
tags
gtest
/autom4te.cache
/aclocal.m4
/build-aux
/config.*
/configure
/configure.h*
/libtool
/m4
/stamp-h1
/cov-int
/src/adaptived
